* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0 !important;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main_container {
  max-width: 430px;
  padding: 0 20px;
  margin: 0 auto;
}

.main_btn {
  width: 100%;
  height: 86px;
  color: rgb(39, 40, 44);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 23.5px;
  box-shadow: 0px 0px 2px 3px rgb(253, 255, 166);
  background: rgb(242, 201, 76);
}

main {
  background: rgb(69, 107, 89);
}
main header {
  padding-top: 15px;
}
main h6 {
  color: rgb(242, 201, 76);
  font-size: 19px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}
main h5 {
  background: linear-gradient(90deg, rgb(242, 201, 76), rgb(163, 177, 138));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 30px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 9px;
}
main p {
  color: rgb(242, 201, 76);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 27px;
}
main .main_btn {
  margin-bottom: 16px;
}
main .two_title {
  text-align: center;
}
main del {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
main .under_title {
  color: rgb(242, 201, 76);
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
main .home_img {
  margin-bottom: 16px;
}

.course {
  padding: 40px 0;
  background-image: url("../images/pattern_bg.png");
}
.course h6 {
  color: rgb(69, 107, 89);
  font-size: 30px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 14px;
}
.course ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.course ul li {
  list-style-position: inside;
  list-style-type: disc;
  color: rgb(69, 107, 89);
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.course_under {
  background: rgb(69, 107, 89);
  padding: 20px 0;
}
.course_under .course_under_img {
  text-align: center;
  position: relative;
}
.course_under .course_under_img .course_under_main_icon {
  position: absolute;
  right: 0;
  bottom: -18px;
  width: 120px;
}
.course_under .course_under_img .course_position_icon {
  position: absolute;
  left: 0;
  top: -53px;
}
.course_under .course_text {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.course_under .course_text p {
  color: rgb(242, 201, 76);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.advantages_course {
  padding: 32px 0;
}
.advantages_course h6 {
  color: rgb(69, 107, 89);
  font-size: 30px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 21px;
}
.advantages_course p {
  color: rgb(69, 107, 89);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 27px;
}
.advantages_course .advantages_course_cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.advantages_course .advantages_course_card {
  padding: 30px 17px 27px 17px;
  max-width: 336px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(212, 203, 194);
  border-radius: 10px;
  background: rgb(69, 107, 89);
}
.advantages_course .advantages_course_card img {
  margin-bottom: 23px;
}
.advantages_course .advantages_course_card h5 {
  margin-bottom: 23px;
  color: rgb(242, 201, 76);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.advantages_course .advantages_course_card p {
  color: rgb(242, 201, 76);
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 0;
}
.advantages_course .coral {
  border: 1px solid rgb(212, 203, 194);
  background: rgb(200, 178, 154);
}
.advantages_course .coral h5 {
  color: rgb(69, 107, 89);
}
.advantages_course .coral p {
  color: rgb(69, 107, 89);
}
.advantages_course .advantages_course_main_img {
  text-align: center;
  margin: 40px auto 28px auto;
}

.author {
  padding-bottom: 34px;
}
.author h6 {
  color: rgb(69, 107, 89);
  font-size: 30px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 7px;
}
.author p {
  margin-top: 25px;
  color: rgb(69, 107, 89);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.author .author_title {
  margin-bottom: 7px;
}
.author .author_card img {
  display: block;
  margin: 0 auto 35px auto;
}
.author .author_card p {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}
.author .author_text_right {
  margin: 28px 0;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
}
.author .author_card_img {
  text-align: center;
  position: relative;
}
.author .author_card_img .author_icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 87px;
}
.author .author_card_two p {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.course_program h6 {
  color: rgb(69, 107, 89);
  font-size: 30px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 30px;
}
.course_program .course_program_bottom p {
  padding: 36px 0 28px 0;
  color: rgb(69, 107, 89);
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}
.course_program .course_program_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.course_program .course_program_card {
  padding: 6px 16px;
  border: 1px solid rgb(212, 203, 194);
  border-radius: 10px;
  background: rgb(69, 107, 89);
}
.course_program .course_program_card h5 {
  color: rgb(242, 201, 76);
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.course_program .course_program_card .course_program_card_in {
  display: flex;
  align-items: start;
  gap: 15px;
}
.course_program .course_program_card .course_program_card_left img {
  min-width: 164px;
}
.course_program .course_program_card .course_program_card_left h4 {
  text-align: center;
  margin-top: 5px;
  color: rgb(242, 201, 76);
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}
.course_program .course_program_card .course_program_card_right p {
  color: rgb(242, 201, 76);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}/*# sourceMappingURL=style.css.map */